:root{
  --green: #6E8A3C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline : none; 
  border : none;
  text-decoration : none;
  text-transform : capitalize;
  transition: all .2s cubic-bezier(.38,1.15,.7,1.12);
  font-weight : normal;
  font-family: cursive;

}
h1,h3{
  font-family:'Oswald',sans-serif;
}
*::selection{
  background: var(--green);
  color: #ffff;
}
html{
  font-size:62%;
  overflow-x: hidden;
  
}
body{
  overflow-x:hidden;
  height: 200rem;
}
html::-webkit-scrollbar{
  width:1.1rem;
}
html::-webkit-scrollbar-track{
  background:#eee;
}
html::-webkit-scrollbar-thumb{
  background: var(--green);
}
section{
  min-height: 100vh;
  padding: 0 6%;
  padding-top: 8rem;
}
.btn{
  background:#666;
  font-size:1.8rem;
  padding: .7rem 2rem;
  color:#fff;
  cursor:pointer;
  margin-top:1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.btn:hover{
  background:#444;
}
.heading{
  text-align:center;
  padding:1rem;
  color:var(--green);
  font-size:3.5rem;
}

header{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   width:100%;
   display: flex;
   justify-content: space-between;
   align-items:center;
   background:#fff;
   padding : 2rem 6%;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo img{
  height:5rem;
}
header .navbar a{
  font-size: 2rem;
  color:green;
  margin-left: 2rem;

}
header .navbar a:hover{
  color:var(--green);
}
#menu{
  font-size: 2rem;
  color:#666;
  cursor:pointer;
  padding: .2rem 1rem;
  border: .1rem solid rgba(0,0,0,.1);
  border-radius: .3rem;
  display :none;
}
.home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:url("food.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content{
  padding-left: 9rem;
  width: 75rem;
}
.home .content h3{
  font-size: 5rem;
  color: var(--green);
}
body{
  margin:0 auto;
  width: 80%;
}

}
@media(max-width:400px){
  html{
      font-size: 55%
  }
}

.Login .row{
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: .1rem solid rgba(0,0,0.1);
  overflow:hidden;
  box-shadow: 0 .5rem  1rem rgba(0,0,0,.1);
  flex-wrap: wrap;
}
.Login .row form{
  flex:1 1 40rem;
  padding : 2rem 4rem;
}
.Login .row form .inputBox{
  padding: 1rem 0;
}
.Login .row form .inputBox{
  padding :.5rem 0;
  color:var(--green);
  font-size: 2rem;
}
.Login .row form .buttons{
  padding :.5rem 0;
  color:var(--green);
  font-size: 2rem;
}
.Login .row form .button1{
  padding :.5rem 0;
  color:var(--green);
  font-size: 2rem;
}
.Login .row form .button2{
  padding :.5rem 0;
  color:var(--green);
  font-size: 2rem;
}
.Login .row form .button3{
  padding :.5rem 0;
  color:var(--green);
  font-size: 2rem;
}
.Login .row form .inputBox input, .Login .row form .inputBox textarea{
  width: 100%;
  padding:1.5rem;
  font-size: 1.5rem;
  border:.1rem solid rgba(0,0,0,.1);
}